{% extends "layout.html" %}
{% block body %}
{% if config.DEMO_USER and config.DEMO_PASSWORD %}
<h2>Demoseite</h2>
<p>Dies ist eine Demoseite.<br>
    Die Zugangsdaten lauten wie folgt:</p>
<dl>
    <dt>Benutzername</dt>
    <dd><input type="text" readonly value="{{ config.DEMO_USER }}"></dd>
    <dt>Passwort</dt>
    <dd><input type="text" readonly value="{{ config.DEMO_PASSWORD }}"></dd>
</dl>
{% endif %}

<h2>QGIS Plugin Repository</h2>
<p>
    Dieses Repository kann in QGIS mit folgender URL hinzugefügt werden:
</p>
<pre><code>{{ url_for("get_plugins", _external=True) }}plugins.xml</code></pre>
<img src="{{ url_for('static', filename='images/howto_repo.png') }}" class="rounded mx-auto d-block"
    style="width: 100%">

<h2>qgis-plugin-ci</h2>
<p>
    Plugins können auch automatisiert z.B. mit <a href="https://opengisch.github.io/qgis-plugin-ci/">qgis-plugin-ci</a>
    hochgeladen werden.
    Wenn die Entwicklungsumgebung entsprechend konfiguriert ist, kann das Plugin mit dem folgenden Befehl hochgeladen
    werden:
</p>

{% if config.DEMO_USER and config.DEMO_PASSWORD %}
<pre><code>qgis-plugin-ci release --osgeo-username {{ config.DEMO_USER}} -c --osgeo-password {{ config.DEMO_PASSWORD }} --alternative-repo-url {{ url_for("rpc", _external=True) }} 0.1</code></pre>
{% else %}
<pre><code>qgis-plugin-ci release --osgeo-username myuser -c --osgeo-password mypassword --alternative-repo-url {{ url_for("rpc", _external=True) }} 0.1</code></pre>
{% endif %}

{% endblock body %}