<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/4.4.1/css/bootstrap.min.css') }}"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme/css/gpr.css')}}">

  <title>{{ config.APP_NAME }}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='theme/img/gbd-consult-logo.svg')}}" alt="GBD Consult" width="229"
        height="58" />
      <span class="subline">{{ config.APP_NAME }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Plugins</a>
        </li>
        {% if config.APP_HOWTO %}
        <li class="nav-item ">
          <a class="nav-link" href="{{ url_for ('howto') }}">HowTo</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.can_upload() %}
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_users')}}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_roles')}}">Roles</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ current_user.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('logout') }}">
              <i class="bi-door-closed-fill"></i>
              Logout
            </a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login')}}">
            <i class="bi-door-open-fill"></i>
            Login
          </a>
        </li>
        </span>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-primary" role="alert">
      {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='jquery-3.4.1.slim.min.js') }}"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='popper.min.js') }}"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bootstrap/4.4.1/js/bootstrap.min.js') }}"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='font/bootstrap-icons.css') }}">
  {% block script %}
  {% endblock %}
</body>

</html>