{% extends "layout.html" %}
{% block body %}
  {% if plugins %}
    {% for plugin in plugins %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ plugin.name }}</h5>
          <p class="card-text font-weight-bold">{{ plugin.description }}</p>
          <hr/>
          {% if plugin.about %}
            <p class="card-text">{{ plugin.about }}</p>
          {% endif %}
          <hr/>
          <table class="table table-borderless table-sm">
            <tbody>
              <tr>
                <td>Version</td>
                <td>{{plugin.version}}</td>
              </tr>
              <tr>
                <td>letztes Update</td>
                <td>{{ plugin.updated_at.strftime('%d.%m.%Y') }}</td>
              </tr>
              <tr>
                <td>hochgeladen von</td>
                <td>{{ plugin.user.name }}</td>
              </tr>
            <tbody>
          <table>
          <div class="text-right">
            <div class="btn-group" role="group">
              {% if plugin.repository %}
                <a href="{{ plugin.repository}}" class="btn btn-info">
                  <i class="fab fa-github-alt"></i>
                  Repository
                </a>
              {% endif %}
              <a href="{{ config['GBD_PLUGIN_ROOT'] }}/{{ plugin.file_name }}"
                class="btn btn-primary">
                <i class="fas fa-download"></i>
                Download
              </a>
              {% if plugin.user_id == user.id or user.superuser %}
              <a href="{{ url_for('delete_plugin', plugin_id = plugin.id)}}"
                class="btn btn-danger">
                <i class="fas fa-trash"></i>
                Delete
              </a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    {% endfor %}
  {% else %}
      <p>There are no plugins here. Nothing but empty space.</p>
      <div class="text-center">
        <i class="fas fa-user-astronaut fa-5x"></i>
        <p/>
        <a href="{{ url_for('upload_plugin') }}" class="btn btn-info">
          <i class="fas fa-file-upload"></i>
          Upload a Plugin
        </a>
      </div>
  {% endif %}
{% endblock %}
