{% extends "layout.html" %}
{% block body %}
<div style="padding-bottom: 15px">
  <a href="{{url_for('add_role') }}">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-user-plus"></i>
      add Role
    </button>
  </a>
</div>
{% if roles %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col" />
    </tr>
  </thead>
  <tbody>
    {% for role in roles %}
    <tr>
      <th scope="row">{{ role.id }}</th>
      <td>{{ role.name }}</td>
      <td>
        <div class="text-right">
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-info" href="{{ url_for('edit_role', role_id = role.id) }}">
              <i class="fas fa-user-edit"></i>
              edit
            </a>
            <a class="btn btn-sm btn-danger" href="{{ url_for('delete_role', role_id = role.id) }}">
              <i class="fas fa-trash-alt"></i>
              delete
            </a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}