{% extends "layout.html" %}
{% block body %}
        <form method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">Username</label>
            {% if user %}
              <input type="text" name="username" class="form-control"
                placeholder="{{ user.name }}" readonly>
            {% else %}
              <input type="text" name="username" class="form-control">
            {% endif %}
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" name="password" class="form-control">
          </div>
          <div class="form group">
            <div class="form-check">
              {% if user and user.superuser %}
                <input type="checkbox" name="superuser" class="form-check-input"
                checked="checked">
              {% else %}
                <input type="checkbox" name="superuser" class="form-check-input">
              {% endif %}
              <label class="form-check-label" for="superuser">Superuser</label>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">
              {% if user %}
                Update
              {% else %}
                Create
              {% endif %}
            </button>
          </div>
        </form>
    </div>
{% endblock %}
