{% extends "layout.html" %}
{% block body %}
<div style="padding-bottom: 15px">
  <a href="{{url_for('add_user') }}">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-user-plus"></i>
      add User
    </button>
  </a>
</div>
{% if users %}
<table class="table users">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Superuser</th>
      <th scope="col">Roles</th>
      <th scope="col" />
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td scope="row">{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.superuser }}</td>
      <td>{{ user.roles|map(attribute='name')|join(', ') }}</td>
      <td>
        <div class="text-right">
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-info" href="{{ url_for('edit_user', user_id = user.id) }}">
              <i class="fas fa-user-edit"></i>
              edit
            </a>
            <a class="btn btn-sm btn-danger" href="{{ url_for('delete_user', user_id = user.id) }}">
              <i class="fas fa-trash-alt"></i>
              delete
            </a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}